*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(rgb(237, 237, 252), rgb(29, 187, 202));
  padding: 20px;
}
.container{
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(200, 226, 249);
  padding: 1em 3em;
  border-radius: 5px;
  max-width: 500px;
  box-shadow: 0px 0px 5px rgb(148, 148, 148);
}
h1{
  text-align: center;
  margin-bottom: 30px;
  color: #2c3e50;
}
.input-section{
  display: flex;
  gap:30px;
  margin-bottom: 30px;
}
#todo-input{
  flex: 1;
  padding: 15px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 5px;
}
#todo-input:focus{
  border: 2px solid #2c3e50;
}
.add-btn{
  padding: 15px 30px;
  font-size: 1rem;
  background-color: rgb(12, 188, 12);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
}
.todo-list{
  list-style: none;
  margin-bottom: 20px;
  height: 100%;
}
.todo-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 15px;
  background-color: #f8f9fa;
  border-radius: 10px;
  margin-bottom: 5px;
}
.todo-item.completed .todo-text {
  text-decoration: line-through;
  color: #95a5a6;
}
input[type="checkbox"]{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.todo-text{
  font-size: 1rem;
  columns: #2c3e50;
}
.delete-btn {
  background: #e74c3c;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: 600;
  margin-bottom: 10px;
}
.filters{
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.filter-btn{
  flex: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
}
.filter-btn.active{
  background: #667eea;
  color: white;
  border-color: blue;
}
.footer{
  font-size: 0.9rem;
  color: #5c6060;
}